@font-face {
  font-family: reguler;
  src:url(../fonts/Montserrat-Regular.ttf)
}
@font-face {
  font-family: bold;
  src: url(../fonts/Montserrat-ExtraBold.ttf);
}

  .card3{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    background-color: whitesmoke;
  }


html{
scroll-behavior: smooth;
}

body {
font-family: reguler;
background-color: hsla(0, 54%, 25%, 0.774);
}

span {
font-family: bold; 
margin: 50px 0px 50px 50px; 
font-size: 30px; 
font-weight: bold;
}

#category a{
margin-left: 150px; 
font-size: 15px;
}

#header{
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  font-family: reguler;
  opacity: 90%;
  transition: 0.3s;
}
#header-text{
  top: 10px;
  margin: 10px;
}

#header:hover{
  opacity: 100%;
  transition:0.3s;
}

#logo{
  margin: 0px 80px 120px 5%; 
  width: 250px; 
  top: 0;
}

button:active {
transform: scale(0.95);
}

#header #left-navbar{
  text-decoration: none;
  color: hsl(0, 54%, 25%);
  margin: 0px 30px;
  vertical-align: 50px;
  line-height: 150px;
  font-size: 30px;
}

#header #right-navbar{
  text-decoration: none;
  color: hsl(0, 54%, 25%);
  margin: 0px 10px 0 0;
  line-height: 150px;
  float: right;
  font-size: 15px;
}

#header input{
  margin-top: 65px;
  line-height: 10px;
  text-decoration: #173695;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #173695;
}

#header a:hover{
  font-weight: bolder;
}


#right-navbar{
  display: inline;
}

#bodytitle{
margin-top: 110px;
}

#body-header{
  margin-top: 165px;
  height: 500px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#body-header a{
 margin-left: 200px;
 color: hsl(0, 54%, 25%);
 float: left;
}

#btn_startshop{
  height: 50px;
  background-color: hsl(0, 54%, 25%);; 
  color: white; 
  font-family: bold;
  width: 250px;
  margin-top: 15px;
  border: none;
}

#body-header2{
  margin-top: 100px;
  height: 600px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#body-header2 a{
  margin-left: 100px;
  color: hsl(0, 54%, 25%);
  float: left;
  font-size: 20px;
 }
 
 #hover:hover{
  cursor: pointer;
  color: burlywood;;
 }

#btn_startshop:hover{
  cursor: pointer;
  background-color: burlywood;;
}

#carousel{
float: right;
margin-top: 1%;
margin-right: 5%;
background-repeat: no-repeat; 
height: 100%; 
width: fit-content;
background-position: right;
}

#biglogo{
  width: 100%; 
  height:fit-content;
  margin: 10% 100px 0 100px;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  height: 500px; 
  width: 90%; 
  margin-left: auto; 
  margin-right: auto;
  height: 450px;
  margin-left: auto; 
  margin-right: auto;
}

div.scrollmenu a {
  color: white;
  text-align: center;
  margin: 20px;
}

.w3-btn{
  background-color: white;
  padding: 0;
}

.contact{
  text-align: center;
}

.contact a{
  font-size: 80px;
  margin-right: 20px;
}

.contact a:hover{
  color: teal;
}

.contact i{
  color: black;
}

.footer{
  background-color: #173695;
  height: 500px;
  float: left; 
  width: 100%;
}

.footer-text p{
text-align: left; 
font-family: reguler; 
color: white; 
font-weight: lighter;
font-size: 25px; 
margin-right: 150px;
}
.footer-text a{
  text-align: left; 
  font-family: reguler; 
  color: rgba(255, 255, 255, 0.733); 
  font-weight: lighter;
  margin-right: 150px;
  float: left;
}

#logobawah{
margin-top: 80px; 
margin-left: 190px; 
margin-right: 300px;
width: 400px; 
height: fit-content;
}
