
<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="img/icon.png"/>
		<title>GoT - GraphBar</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../assets/style/style.css">
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
	</head>
	<body>
        <a id="home">.</a>
		<!-- Header class --> 
		<div class="card3" id="header">
			<a href="#home"><img id="logo" src="../assets/img/download.png"></a>
			<!--Navbar-->
			<a id="left-navbar" href="/">Home</a>
			<a id="left-navbar" href="/feature_graph">Graf</a>
			<a id="left-navbar" href="/feature_graphbar">GraphBar</a>
			
			<a id="left-navbar" href="/feature_search"><i class=""></i>Search</a>
            <a id="right-navbar">You Are Now In GraphBar</a>
		</div>
		<!-- BODY -->
		<div class="card3" id="body-header">
			<div style="float: left;">
				<br><br><br>
			<a id="hover" style="font-weight: 1000; font-size: 40px; font-family: bold; text-decoration: none; cursor: pointer;">
				Graf
			</a>
			<br><br><br>
			<a style=" float: left;">
				Bagian Proyek Untuk Menampilkan Graf Yang telah Dirancang
			</a>
			<br>
			<a style="float: left;">
				Berdasarkan Buku Game Of Thrones Yang Ada
			</a>
			<br><br><br>

			<a id="hover" style="font-weight: 1000; font-size: 40px; font-family: bold; text-decoration: none; cursor: pointer;">
				GraphBar
			</a>
			<br><br><br>
			<a style=" float: left;">
				Bagian Proyek Untuk Menampilkan GraphBar Yang telah Dirancang
			</a>
			<br>
			<a style="float: left;">
				Berdasarkan Buku Game Of Thrones Yang Ada
			</a>
			<br><br><br>

			<a id="hover" style="font-weight: 1000; font-size: 40px; font-family: bold; text-decoration: none; cursor: pointer;">
				Search
			</a>
			<br><br><br>
			<a style=" float: left;">
				Bagian Proyek Untuk Menampilkan Halaman Search, Untuk
			</a>
			<br>
			<a style="float: left;">
				Mencari Karakter 
			</a>
			<br>
			</div>
		</div>
		
		<div class="card3" id="body-header">
			<br><br><br>
			<form action="/cariGraphBar1" method="post">
				<a>
					<button class="button" id="book1">Book 1</button>
				</a>
			</form>
			<canvas id="myChart" style="width:100%;max-width:100vw"></canvas>
		</div>

		<div class="card3" id="body-header">
				<br><br><br>
				<form action="/cariGraphBar2" method="post">
					<a>
						<button class="button" id="book2">Book 2</button>
					</a>
				</form>
		</div>

		<div class="card3" id="body-header">
				<br><br><br>
				<form action="/cariGraphBar3" method="post">
					<a>
						<button class="button" id="book3">Book 3</button>
					</a>
				</form>
		</div>

		<div class="card3" id="body-header">
				<br><br><br>
				<form action="/cariGraphBar4" method="post">
					<a>
						<button class="button" id="book4">Book 4</button>
					</a>
				</form>
		</div>

		<div class="card3" id="body-header">
				<br><br><br>
				<form action="/cariGraphBar5" method="post">
					<a>
						<button class="button" id="book5">Book 5</button>
					</a>
				</form>
		</div>
		<br><br><br><br><br><br>
		<a id="help"></a>
	</body>
</html>
