
<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="img/icon.png"/>
		<title>GoT - GraphBar</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/js/graphbar.js" defer></script>
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
		<link rel="stylesheet" href="../public/assets/lib/font-awesome.css">
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" href="../assets/style/style.css">
	</head>
	<body>
        <a id="home">.</a>
		<!-- Header class --> 
		<div class="card3" id="header">
			<a href="#home"><img id="logo" src="../assets/img/download.png"></a>
			<!--Navbar-->
			<a id="left-navbar" href="/">Home</a>
			<a id="left-navbar" href="/feature_graph">Graf</a>
			<a id="left-navbar" href="/feature_graphbar">GraphBar</a>
			
			<a id="left-navbar" href="/feature_search"><i class=""></i>Search</a>
            <a id="right-navbar">You Are Now In GraphBar</a>
		</div>
		<!-- BODY -->
		
		<div class="card3" id="body-header">
			<br><br><br>

			<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose A Book
  </button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<li><button class="dropdown-item" id="book1">Book 1</button></li>
					<li><button class="dropdown-item" id="book2">Book 2</button></li>
					<li><button class="dropdown-item" id="book3">Book 3</button></li>
					<li><button class="dropdown-item" id="book4">Book 4</button></li>
					<li><button class="dropdown-item" id="book5">Book 5</button></li>
				</div>
			  </div>
				
			  <div class="chart-container" style="position: relative; height:50vh; width:50vw">
				<canvas id="myChart"></canvas>
			</div>

		</div>

	
	</body>
</html>
