<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="img/icon.png"/>
		<title>GoT - Graf</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../assets/style/style.css">
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<script type="module" src="/js/graf.js" defer></script>
		
		<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
	</head>
	<body>
        <a id="home">.</a>
		<!-- Header class -->
		<div class="card3" id="header">
			<a href="#home"><img id="logo" src="../assets/img/download.png"></a>
			<!--Navbar-->
			<a id="left-navbar" href="/">Home</a>
			<a id="left-navbar" href="/feature_graph">Graf</a>
			<a id="left-navbar" href="/feature_graphbar">GraphBar</a>
			
			<a id="left-navbar" href="/feature_search"><i class=""></i>Search</a>
            <a id="right-navbar">You Are Now In Graf</a>
		</div>
		<!-- BODY -->
		<div class="card3" id="body-header">

			<form class="form1" method="post" action="/graf" id="formGraf">

				<div class="form-group">
					<select class="form-select" name="book" id="" aria-label="Default select example">
						<option selected>Choose a Book</option>
						<option value="book1">Book1</option>
						<option value="book2">Book2</option>
						<option value="book3">Book3</option>
						<option value="book4">Book4</option>
						<option value="book5">Book5</option>
					</select>
				</div>

				<div class="form-group">
					<p>
						<button type="submit" class="btn btn-primary" id="btn_startshop">Search</button>
					</p>
				</div>
			  </form>

		</div>
			<div id="mynetwork"></div>
		</div>
		<a id="help"></a>
	</body>
</html>
